<ul class="social">
	<a href="https://github.com/baeriivan" target="_blank">
		<li>
			<i class="fa-brands fa-github"></i>
		</li>
	</a>
	<a href="https://www.linkedin.com/in/ivan-baeriswyl-74a03b140" target="_blank">
		<li>
			<i class="fa-brands fa-linkedin"></i>
		</li>
	</a>
	<a href="https://telegram.me/baeriivan" target="_blank">
		<li>
			<i class="fa-solid fa-paper-plane"></i>
		</li>
	</a>
	<a href="mailto:{{ site.email }}" target="_blank">
		<li>
			<i class="fa-solid fa-envelope"></i>
		</li>
	</a>
</ul>
