:root[data-theme="light-theme"] {
    --bg-color-primary: #ffffff;
    --bg-color-secondary: #d5d5d5;
    --text-color: #333333;
    --link-color: #999999;
}
:root[data-theme="dark-theme"] {
    --bg-color-primary: #333333;
    --bg-color-secondary: #555555;
    --text-color: #ffffff;
    --link-color: #bbbbbb;
}
:root[data-theme="light-theme"] .light--hidden { display: none; }
:root[data-theme="dark-theme"]  .dark--hidden { display: none; }


$bodyFont: 'Helvetica', 'Arial', 'Sans-Serif';
$totalWidth: 70%;
$sideMargin: (100%-$totalWidth)/2;
$topMargin: 2em;

$brd: 1px solid  #ccc;
// $brd: none;


body {
  background: var(--bg-color-primary);
  color: var(--text-color);
  font-family: $bodyFont;

  display: inline-grid;
  margin: $topMargin $sideMargin;
  width: $totalWidth;
}

footer {
  border-top: 1px solid var(--bg-color-secondary);
  padding-top: 1em;

  font-size: .8em;

  div {
    text-align: center;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--bg-color-secondary);
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;

    li {
      display: inline;
      margin-right: 20px;
    }
}

.theme-swap {
  display: inline;
  margin-right: 20px;
}

a {
    text-decoration: none;
    color: var(--link-color);

    &:hover {
      text-decoration: underline;
    }
}

.about-overview {
  justify-items: center;

  img {
    width: 18em;

    // center
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #about-name {
    display:flex;
    justify-content: center;
    color: var(--text-color);
    padding: 0.5em;
  }

  #about-titles {
    display: flex;
    justify-content: center;
    color: var(--link-color)
  }
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.container {
  position: relative; margin: .5em;
}

.about-overview { 
  padding: 1.25em;
  margin-bottom: .5em;

  border: $brd;
}

.about-content {
  padding: 1.25em;

  border: $brd;
}

.social {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    padding: 0.25em;

    &:hover {
      color: var(--text-color);
    }
  }
}


@media screen and (min-width: 72em ) {

	.container { 
		float: left;
	}

  .about-overview { 
    width: 22.75em;
    margin-right: -25.3em;
    float: left;
  }

	.about-content { 
    margin-left: 24em;
    float: left;
  }   
}
